.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.posts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post {
    font-size: 20px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    cursor: pointer;
}

.post:hover {
    transition: all 0.5s;
    background-color: cadetblue;
}

.link {
    text-decoration: none;
}
